<div class="landingPage">
  <div class="logo-box">
    <img class="starlight-logo" src="https://static.wixstatic.com/media/b47bd7_f0a751ba390d408b9b9ed1f202bba7a8.png/v1/fill/w_474,h_196,al_c,usm_0.66_1.00_0.01/b47bd7_f0a751ba390d408b9b9ed1f202bba7a8.png" />
    <ul class="nav nav-pills search-box">
      <li role="presentation" class="active">
        <input type="search" ng-model="search" class="form-control input-sm search-form" placeholder="Search">
      </li>
      <div class="form-inline">
        <label for="sort">  Sort by </label>
        <select class="form-control" ng-model="sortBy" id="sort">
          <option disabled selected value="">Choose one</option>
          <option value="name">Name</option>
          <option value="serial">Serial</option>
          <option value="size">Size</option>
        </select>
      </div>
    </ul>
  </div>
  <div class="cans-data" ng-repeat="can in $ctrl.cans | orderBy:sortBy | filter:search">
    <p>
      Name: {{can.name}}
    </p>
    <p>
      Serial: {{can.serial}}
    </p>
    <p>
      Size: {{can.size}}
    </p>
    <p>
      Created Date: <span class="date"> {{can.createdDate}} </span>
    </p>
    <p>
      Modified Date: <span class="date"> {{can.modifiedDate}} </span>
    </p>

  </div>

</div>
