<div class="landingPage">
  <div class="logo-box">
    <img class="starlight-logo" src="https://static.wixstatic.com/media/b47bd7_f0a751ba390d408b9b9ed1f202bba7a8.png/v1/fill/w_474,h_196,al_c,usm_0.66_1.00_0.01/b47bd7_f0a751ba390d408b9b9ed1f202bba7a8.png" />
    <ul class="nav nav-pills search-box">
      <li role="presentation" class="active">
        <input type="search" ng-model="search" class="form-control input-sm search-form" placeholder="Search">
      </li>
      <div class="form-inline">
        <label for="sort">  Sort by </label>
        <select class="form-control" ng-model="sortBy" id="sort">
          <option disabled selected value="">Choose one</option>
          <option value="name">Name</option>
          <option value="serial">Serial</option>
          <option value="size">Size</option>
          <option value="createdDate">Created Date</option>
          <option value="modifiedDate">Modified Date</option>
        </select>
      </div>
    </ul>
  </div>
  <div class="cans-data" ng-repeat="can in $ctrl.cans | orderBy:sortBy | filter:search">
    <p>
      <strong class="can-headers">Name:</strong> {{can.name}}
    </p>
    <p>
      <strong class="can-headers">Serial:</strong> {{can.serial}}
    </p>
    <p>
      <strong class="can-headers">Size:</strong> {{can.size}}
    </p>
    <p>
      <strong class="can-headers">Created Date:</strong> <span class="date"> {{can.createdDate}} </span>
    </p>
    <p>
      <strong class="can-headers">Modified Date:</strong> <span class="date"> {{can.modifiedDate}} </span>
    </p>
    <button class="btn location-button" ng-click="$ctrl.getInfo(can)">Get Location</button>



    <div class="canInfo" ng-class="{show: can.show}">
      <div class="canInfo-body modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="$ctrl.closeCanInfo(can)">X</button>
          <h3 class="location-header">{{can.name}} Location Info</h3>
        </div>
        <div class="modal-body can-body">
          <p>
            <strong class="can-headers">Serial:</strong> {{can.serial}}
          </p>
          <p>
            <strong class="can-headers">Type:</strong> {{can.location.type}}
          </p>
          <p>
            {{can.location.name}}
          </p>
          <img class="can-map" src="http://maps.googleapis.com/maps/api/staticmap?center=39.7270307,-105.1902474&zoom=15&size=265x265&markers=39.7270307,-105.1902474" />
          <button class="btn closeButton" ng-click="$ctrl.closeCanInfo(can)">close</button>
        </div>
      </div>
    </div>


  </div>


</div>
