.cans-data {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 1px 4px #444;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  min-width: 300px;
}
